@page
@using nIKernel.Models.Cliente
@model nIKernel.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Gerenciar Clientes";
    
    var claimClientes = User.FindFirst(type: "Permissao_Clientes")?.Value;
    var permissoes = string.IsNullOrEmpty(claimClientes)
            ? new string[] { "N", "N", "N", "N" }
        : claimClientes.Split(',');    
    bool podeInserir = permissoes.Length > 1 && permissoes[1].Trim().ToUpper() == "S";
    bool podeAtualizar = permissoes.Length > 2 && permissoes[2].Trim().ToUpper() == "S";
    bool podeDeletar = permissoes.Length > 3 && permissoes[3].Trim().ToUpper() == "S";
}


<a href="/" class="btn btn-primary m-2">Voltar para menu</a>
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2><i class="bi bi-shield-lock"></i>Clientes Registrados</h2>

    @if (podeInserir) {
        <a asp-page="Criar" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Novo Cliente</a>
    }
</div>


<div class="card shadow-sm">
    <div class="card-body p-0">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-dark">
                <tr>
                        <th width="5%">ID</th>
                        <th>CPF/CNPJ</th>
                        <th>RG/IE</th>
                        <th>Nome</th>
                        <th>Apelido</th>
                        <th  width="15%" class="text-center">Status</th>
                        <th>Data de inclusão</th>
                        <th width="15%" class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Clientes.Any()) {
                    <tr>
                        <td colspan="4" class="text-center py-4 texte-muted">Nenhum cliente cadastrado.</td>
                    </tr>
                } else {
                    foreach (var cliente in Model.Clientes) {
                        <tr>
                            <td class="align-middle">@cliente.CL_id</td>
                            <td class="align-middle">@cliente.CL_cpf_cnpj</td>
                            <td class="align-middle">@cliente.CL_rg_ie</td>
                            <td class="align-middle">@cliente.CL_nome</td>
                            <td class="align-middle">@cliente.CL_apelido</td>
                            <td class="align-middle text-center">
                                @if (cliente.CL_status == "A") {
                                    <span class="badge bg-success">Ativo</span>
                                } else {
                                    <span class="badge bg-secondary">Inativo</span>
                                }
                            </td>
                            <td class="align-middle">@cliente.CL_data_inclusao</td>
                            <td class="align-middle text-end">
                                @if (podeAtualizar) {
                                    <a asp-page="Editar" asp-route-id="@cliente.CL_id" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i> Atualizar </a>
                                }
                                @if (podeDeletar) {
                                    <form method="post" asp-page-handler="Deletar" asp-route-id="@cliente.CL_id"  class="d-inline" onsubmit="return confirm('Tem certeza que deseja excluir este cliente? Esta ação não pode ser desfeita.');">
                                        <button type="submit" class="btn btn-sm btn-outline-danger ms-1"><i class="bi bi-trash"></i> Deletar</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

